<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
  <div  class="form-group">
    <label>
      User name:
      <div>
        <input pattern=".{3,}" placeholder="User" type="text" name="login" ngModel >
        <p class="alert alert-warning">Please specify your login, at least three characters.</p>
      </div>
    </label>
  </div>
  <div  class="form-group">
  <label>
    Password:
    <div>
      <input pattern=".{3,}" placeholder="Password" type="password" name="password" ngModel >
      <div>Please specify your login, at least three characters.</div>
    </div>
  </label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<div>
  <p>If you do not have an account, please register<span></span></p>
</div>
