<h1 class="text-center">Transaktionen</h1>

<div class="row">
  <div class="box">
    <h2>Filter</h2>
    <form>
      <div class="form-row">
        <div class="col-md-5">
          <label>Select a year</label>
          <select
            class="form-control"
            (change)="this.yearSelectionFieldChanged($event)"
          >
            <option [value]="2019">2019</option>
            <option [value]="2018">2018</option>
            <option [value]="2017">2017</option>
          </select>
        </div>
        <div class="col-md-7">
          <label>Select a month</label>
          <select
            [ngModel]="this.selectedMonth"
            class="form-control"
            (ngModelChange)="this.monthSelectionFieldChanged($event)"
            [ngModelOptions]="{ standalone: true }"
          >
            <option [value]="1">Januar</option>
            <option [value]="2">Februar</option>
            <option [value]="3">März</option>
            <option [value]="4">April</option>
            <option [value]="5">Mai</option>
            <option [value]="6">Juni</option>
            <option [value]="7">Juli</option>
            <option [value]="8">August</option>
            <option [value]="9">September</option>
            <option [value]="10">Oktober</option>
            <option [value]="11">November</option>
            <option [value]="12">Dezember</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="box">
    <h2>Bewegungen</h2>
    <table class="table table-striped">
      <tr>
        <th>Von</th>
        <th>Zu</th>
        <th>Betrag</th>
        <th>Kontostand neu</th>
      </tr>
      <tr *ngFor="let transaction of this.traSer.transactionList">
        <td>{{ transaction.from }}</td>
        <td>{{ transaction.target }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.total }}</td>
      </tr>
      <tr *ngIf="this.traSer.transactionList.length == 0">
        <td colspan="4" class="table-warning">Nix gefunden...</td>
      </tr>
    </table>
  </div>
</div>
