<h1 class="text-center">Dashboard</h1>

<div class="row">

  <div class="col-xs-12 col-md-6">
    <div class="box">
      <form #f="ngForm" (ngSubmit)="createTransaction(f)">
        <h2>Neue Bewegung</h2>

        <div class="form-group row">
          <label for="sourceNr" class="col-sm-3 col-form-label">
            Von:
          </label>
          <div class="col-sm-9">
            <input type="text" name="sourceNr" class="form-control" id="sourceNr" disabled [ngModel]="sourceNr">
          </div>
        </div>

        <div class="form-group row">
          <label for="targetNr" class="col-sm-3 col-form-label">
            Zu:
          </label>
          <div class="col-sm-9">
            <input type="text" name="targetNr" class="form-control" id="targetNr" required
                   (keyup)="setTargetAccount()" [(ngModel)]="targetNr" #targetNrCtrl="ngModel"
            >
          </div>

          <div *ngIf="!targetNrCtrl.valid" class="help-text">Bitte Ziel-Konto angeben.</div>
          <div *ngIf="targetAccount" class="help-text">{{ targetAccount.owner.firstname}} {{targetAccount.owner.lastname}}</div>
          <div *ngIf="targetNrCtrl.valid && !targetAccount" class="help-text">Konto ist unbekannt!</div>

        </div>

        <div class="form-group row">
          <label for="amount" class="col-sm-3 col-form-label">
            Betrag in CHF
          </label>
          <div class="col-sm-9">
            <input type="text" name="amount" class="form-control" id="zu" required [(ngModel)]="amount" #amountCtrl="ngModel">
          </div>

          <div *ngIf="!amountCtrl.valid" class="help-text">Ungültiger Betrag</div>

        </div>

        <button type="submit" class="btn btn-primary btn-block">Überweisen</button>
        <div *ngIf="errorMessage" class="callout alert">{{errorMessage}}</div>
        <div *ngIf="successMessage" class="callout success">{{successMessage}}</div>

      </form>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="box">
      <h2>Letzte Bewegungen</h2>
      <table class="table table-striped">
        <tr>
          <th>Von</th>
          <th>Zu</th>
          <th>Betrag</th>
          <th>Kontostand neu</th>
        </tr>
        <tr *ngFor="let transaction of this.traSer.transactionList">
          <td>{{ transaction.from }}</td>
          <td>{{ transaction.target }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.total }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
